/* Web Dev Skills Graph Chart sec (% bars) CSS */

/* Browser RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    color:#222;

    padding-left: 2rem;
    padding-right: 2rem;
}

/* HEADER */

header {
    /* display:flex; */
    flex-direction:column;
    /* align-items:center; */
    justify-content:center;
    gap:15px;
    padding:20px;
}

.logo {
  height: 60px;
  width: 60px;  /* was 120px */
  border-radius: 30px;   /* was 8px */ 
  padding: 3px;
  background-color: blue;
}

h1{
    text-align:center;
    margin:25px 0;
}

p { text-align: center; }

/* GRAPH */
.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.animation {
  cursor: pointer;
  transition: 0.5s;
}

.animation:hover {
  transform: scale(1.3); /* was 1.03 */
}

.box {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;

    gap: 2px;  /* was 2px; */

    height: 425px; /* was 300px; */

    padding: 20px; /* was 20px; */

    border-radius: 7px;

    background:white;

    overflow-x:auto;

    border-left: 3px solid black;
    border-bottom: 3px solid black;    
}

/* Each Skill bar */
.skill {
    display:flex;
    flex-direction:column;
    align-items:center;

    justify-content: flex-end;

    /* min-width: 55px;  use ? */
    height: 60%;  /* ? */
}

/* Bars */
.graph {
  width: 45px;

    background:linear-gradient(to top,#0059ff,#66b3ff);

    border-radius: 50px;  /* was border-radius:8px 8px 0 0; or none for square shape */

    display:flex;

    justify-content:center;

    align-items:flex-start;

    color:white;

    font-weight:bold;

    transition:.5s;
}

.graph:hover {
    transform: scale(1.5);  /* was (1.05); */
}

/* Percentage */
.percent {
    padding-top: 15px;
    font-size: 1rem;
}

/* Skill Name */
.name {

    margin-top: 13px;

    font-size: 1rem;

    text-align: center;

    font-weight: bold;
}

/* Footer */
footer {
    text-align:center;
    padding: 25px;
}

/* ==========================
   Tablet
========================== */

@media (min-width:768px){

.box{

    height:380px;

    gap:20px;

}

.skill{

    min-width:70px;

}

.graph{

    width:55px;

}

.name{

    font-size:1rem;

}

}

/* ==========================
   Desktop
========================== */

@media (min-width:1024px){

.box{

    justify-content:space-evenly;

    height:450px;

}

.graph{

    width:65px;

}

.percent{

    font-size:1rem;

}

.name{

    font-size:1.1rem;

}

}








/* was 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  /* line-height: 1.5; use ? 
  /* overflow-x: hidden; use ? 
}

/* header sec 
header {
    margin-left: 1rem;
}

header a {
  font-size: 1.1rem;
}

header img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  padding: 4px;
  background-color: blue;
}

.animation {
    cursor: pointer;
    transition: 0.5s;
}

.animation:hover {
    transform: scale(1.30);  /* was 1.03 
}

/* Graph Chart % Bars Sec 
.container {
  margin: 20px;
  padding: 20px;  /* was padding: 40px 20px; 
  background-color: lightgray; /* or background: linear-gradient(0deg,lightgray, white); ? 
}

.container h1 {
  margin-bottom: 50px;
  font-size: 2rem;
  color: blue;
  text-align: center;
}

/* === FLEXBOX GRAPH CONTAINER === 
.box {
  display: flex;
  justify-content: center;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  gap: 1rem;
}

/*
  align-items: flex-end; 
  gap: 20px; 
  flex-wrap: wrap;
  padding: 30px; /* was 30px 
  background: transparent;  /* background: gray; 
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); ? 
  transform: translateX(-50%,-50%); /* took out the X ? 
  width: 900px;
  height: 400px;
  border-radius: 0px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}
/* was 
.box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);  /* was transform: translateX(-50%,-50%); took out the X ? 
    height: 300px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    margin-top: -5rem;
} */

/* === EACH SKILL BAR === 
.box .skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  position: relative;
  align-items: center;
}
/* was 
.box .skill {
    flex: 1;
    text-align: center;
    margin-left: 1rem;
} 

/* GRAPH BAR 
.box .skill .graph {
  background: linear-gradient(to right, deepskyblue, navy);
  width: 40px;
  border-radius: 20px;  /* or was border-radius: 10px 10px 0 0; 
  color: white;
  font-weight: bold;
  transition: 0.5s ease;
  /* position: relative; justify-items: center; align-items: flex-start; use ? 
}
/* was 
.box .skill .graph {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    height: 300px;
    width: 50px;
    width: 100%;
    max-width: 90px;
    /* can also add background: rgba(1, 1, 1, 5); here 
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
} 

/*

.box .skill .graph:before {   /* ? 
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 0;
    background: linear-gradient(0deg,  blue, lightgray);
}

.box .skill .graph:after {   /* ? 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}
/* ^ see look up to this point! 

/* PERCENT TEXT 
.percent {
  padding-top: 10px;
  text-align: center;
}
/* was 
.box .skill .graph .percent {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-weight: bold;
} */

/* SKILL NAME 
.name {
  margin-top: 10px;
  font-weight: bold;
  flex-direction: row;
  /* text-align: justify; position: relative; use ? 
}
/* was 
.box .skill .name {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: deepskyblue;
} 

footer {
  padding: 20px;
  text-align: center;
}

/* Media queries use ?? 

/* Mobile phone view 
@media (max-width: 762px) {

  /* HEADER STACKS VERTICALLY 
  header {
    flex-direction: column;
  }

  header img {
    width: 55px;
    height: 55px;
  }

  /* GRAPH SECTION 
  .container {
    padding: 8px 5px;
  }

    .container h1 {
    font-size: 1.1rem;
  }

  .box {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    padding: 10px 5px;
  }

  .skill {
    width: 55px;
    flex-direction: row;
  }

  .graph {
    width: 45px;
    height: 210px;
    flex-direction: row;
  }

  .percent p {
    font-size: 0.8rem;
  }

  .name {
    font-size: 0.8rem;
    flex-direction: row;
  }

  footer {
    font-size: 0.8rem;
    flex-direction: column;
  }
}

/* Laptop Desktop view ? 
@media screen and (min-width: 1024px) {

  .box {
    flex-wrap: nowrap;
    gap: 25px;
  }

  .skill {
    width: 110px;
  }

  .graph {
    height: 350px;
  }
  
    .container h1 {
    font-size: 2.5rem;
  }
}


*/