/* Respnosive CSS for Projects- Graph Charts page */      
      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black; 
  font-family: Arial, sans-serif;
  line-height: 1.6;  /* use ? */
  min-height: 100vh;  /* use ? */
  display: flex;  /* use ? */
  flex-direction: column;  /* use ? */
  border-style: double;
  border-width: 8px;
  border-radius: 16px;
  border-color: white;
}

/* Header */
.header {
  width: 100%;
  background: transparent;
  color: white;
  padding: 1rem;
}

.animation {
  cursor: pointer;
  transition: 0.5s;
}

.animation:hover {
  transform: scale(1.3); /* was 1.03 */
}

.navbar {
    max-width: 1300px;  /* was 1400px or max-width: 1200px; */
    margin: auto;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo header img */
.logo img {
  height: 80px;
   width: 80px;
  border-radius: 40px;
  padding: 5px;
  background-color: blue;
}

/* Desktop Menu */
.nav-links {
  display: flex;
  align-items: center;  /* added this one */
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;  /* add ease; ? */
  font-size: 1rem;
  font-weight: 600;
  position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}   

.nav-links a:hover {
    color: blue;
} 

.btn {
    display:inline-block;
    background:blue;
    color:white;
    padding:14px 28px;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn:hover {
    background:gray;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* Mobile Ph view Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: darkgray;
  text-align: center;
  width: 95%;  /* was 100% */
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;  /* was padding: 1rem 2rem; */
    border-top: 3px solid rgba(250, 250, 250, 0.1);
    transition: 0.3s ease;  /* add here ? */
}

.mobile-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.3s;
}

/* .mobile-menu a:hover::after {
    width: 100%;
}  */   

.mobile-menu a:hover {
  color: blue;
}       

.mobile-menu a:hover {
  background: lightgray;
}

/* Active Mobile Menu */
.mobile-menu.active {
    display: flex;
}

/* Hamburger Animation */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Section */

.skills-section {
    width: 85%; /* was 100% */
    margin: 1rem;
    margin-left: 5rem;
    padding: 1rem;  /* was padding: 3rem 1rem; ... or just 1rem; ? */
    margin-top: 2rem;  /* use margin-bottom: 1rem; also ? */ 
}

.container {
    max-width: 800px; /* was 1200px; */
    margin:auto;
}

.container h1 {
    text-align:center;
    font-size:2rem;
    margin-bottom:2.5rem;
    text-decoration: underline;
    color: white;
}

.container p {
    text-align: center;
    margin-bottom:2.5rem;
    /* text-decoration: underline; */
    color: white;
}

/* GRAPH CONTAINER */

.box {
    display:flex;
    justify-content:center;
    align-items: flex-end;  /* use here ? */
    gap: 7px;  /* was 12px; */

    height: 320px;  /* ? */

    overflow-x:auto; /* use here ? */

    padding: 1.5rem;
    /* margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;  use ??? */
    
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

/* BARS */
.skill {
    display:flex;
    flex-direction:column;
    align-items:center;

    justify-content: flex-end;

    min-width:60px;
    height: 78%;  /* 80% or 300px;  use here ?? */
}

/* Background */
.graph {
    width: 95%;  /* was 100% */
    max-width: 50px;  /* was 60px */

    margin-top: 0.3rem;
    margin-bottom: 0.5rem;

    height: 250px;

    background:linear-gradient(to top, white, blue);  /* was background:linear-gradient(to top,#4facfe,#00f2fe);  */

    border-radius: 25px 25px;  /* or was border-radius:10px 10px 0 0; ? */

    display:flex;
    justify-content:center;
    align-items:flex-start;

    font-weight:bold;

    transition:.5s;
}

/* Hover */
.graph:hover {
    transform:scale(1.5);
}

/* Percentage */
.percent {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
}

/* Skill Name */
.name {
    margin-top: 12px;
    text-align:center;
    font-weight: 600;  /* ? */
    font-size: 1rem;
    color: white;
    transition: .5s;
}

.name:hover {
    transform: scale(1.5);
}

/* Footer */
footer {
    background: transparent;
    color:white;
    text-align:center;
    padding:40px 20px;
    flex-direction: column;  /* use ? */
}

footer p {
    margin:5px 0;  /* needed ? */
}

/* @Media queries for screen sizes */

/* mobile phones */

@media (max-width: 768px) {
  .nav-links {
    display: none;
    }

  .logo img {
    margin-left: 1rem;
  }

  .hamburger {
    display: flex;
    margin-right: 1rem;
    }
  }

@media (max-width: 600px) {
    .footer {
      padding: 3rem 1.5rem 1.5rem;
      }

    .footer-top {
      grid-template-columns: 1fr;
      text-align: center;
      }

    .footer p {
      margin: auto;
      }  /* was .footer-brand p */
}

/* Tablet (768px+ */
@media (min-width:768px) {

.container h1 {
    font-size:2.5rem;
}

.box {

    gap:20px;

    height:400px;

    overflow-x:visible;
}

.skill {
    min-width:70px;
}

.graph{
    max-width:60px;  /* was 70px */
    height:310px;  /* was 320px */
}

.name{
    font-size: 1rem;
  }
}

/* Desktop (1024px+ ) */
@media (min-width:1024px) {

.skills-section {
    padding: 3rem 1rem;  /* was 5rem 2rem */
  }

.box {
    gap: 30px;  /* was 35px */
  }

.graph{
    width: 70px;  /* was 75px */
    height: 340px;
  }

.container h1{
    font-size: 2rem;  /* was 3rem */
  }
}



/* comments */